DerivedData/
build/
*.xcuserstate
xcuserdata/
.DS_Store
**/.DS_Store
spine-json-web/converter.config.json
spine-json-web/tmp/
spine-json-web/vendor-build/
spine-json-web/vendor-src/SpineSkeletonDataConverter-main/data/
